@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Annie+Use+Your+Telescope&family=Open+Sans+Condensed:wght@300&family=Petit+Formal+Script&display=swap');

input {
    width: 25%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box
}

.btn {
    background-color: grey;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Annie Use Your Telescope';
    font-weight: bold;
  }

  #login {
      font-family: 'Open Sans Condensed';
      
  }